public/index.html
<html lang="en" class="no js">
	<head>
		<script src="bower_components/platform/platform.js"></script>
		<link rel="import" href="bower_components/uruburu/elements/pie-gauge.html">
		<link rel="import" href="bower_components/uruburu/elements/box-gauge.html">
		<link rel="import" href="bower_components/uruburu/elements/box-lever.html">
		<link rel="import" href="bower_components/uruburu/elements/toggle-button.html">
		<link rel="import" href="bower_components/uruburu/elements/simple-led.html">
		<link rel="import" href="bower_components/uruburu/elements/stepper-input.html">
		<link rel="import" href="bower_components/uruburu/elements/angular-gauge.html">
		<link rel="import" href="bower_components/uruburu/elements/pie-dial.html">
		<link rel="import" href="bower_components/uruburu/elements/rt-plot.html">
		<link rel="import" href="bower_components/uruburu/elements/pie-knob.html">
		<link rel="import" href="bower_components/uruburu/elements/num-display.html">
		<link rel="import" href="bower_components/uruburu/elements/halfpie-gauge.html">
		<link rel="import" href="bower_components/uruburu/elements/num-stepper.html">
		<link rel="import" href="bower_components/uruburu/elements/push-button.html">
		<link rel="import" href="bower_components/uruburu/elements/function-button.html">
		<link rel="import" href="bower_components/uruburu/elements/switch-button.html">
		<link rel="import" href="bower_components/uruburu/elements/throttle-control.html">

		<title>uruburu</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" href="favicon.png">
		<link rel="stylesheet" href="bower_components/uruburu/css/style.css">

		<script src="js/vendor/modernizr.js"></script>
		<script data-main="../../js/uruburu-client" src="bower_components/requirejs/require.js">
		</script>
	</head>

	<body oncontextmenu="return false">
		<div class="board">
			<pie-gauge id="testg1" x="500" y="500" r="100" color="blue" initial="113" min="-50" max="200" value="{{sValue}}">
			</pie-gauge>

			<pie-gauge id="testg2" x="300" y="300" r="75" color="green" initial="50" min="0" max="200" value="{{vk}}">
			</pie-gauge>

			<pie-gauge id="testg3" x="600" y="300" r="75" color="Chartreuse" initial="100" min="-100" max="200" value="{{myDialValue}}">
			</pie-gauge>

			<angular-gauge id="testag3" x="30" y="300" r="75" color="Sienna" initial="100" value="{{x}}">
			</angular-gauge>

			<box-gauge id="testg4" x="900" y="300" width="40" height="200" color="orange" initial="100" min="-100" max="200" orientation="vertical" value="{{myValue}}">
			</box-gauge>

			<box-gauge id="testg33" x="900" y="600" color="red" initial="22.7" min="-100" max="200" orientation="horizontal" value="{{myValueBis}}">
			</box-gauge>

			<box-lever id="testle4" x="1400" y="300" width="20" height="160" color="orange" initial="0" min="-100" max="200" orientation="vertical" value="@{{myValue}}">
			</box-lever>

			<box-lever id="testle7" x="1400" y="600" color="green" initial="0" min="-100" max="200" orientation="horizontal" value="@{{myValueBis}}">
			</box-lever>

			<stepper-input id="testsi4" x="40" y="10" initial="10" value="@{{sValue}}">
			</stepper-input>

			<toggle-button id="testb1" x="1200" y="300" width="60" height="30" initial="1" value="@{{myStatus}}">
			</toggle-button>

			<simple-led id="testl1" x="1300" y="300" color="red" value="{{myStatus}}">
			</simple-led>

			<pie-dial id="testd3" x="600" y="30" r="75" color="#663399" min="-100" max="200" value="@{{myDialValue}}">
			</pie-dial>

			<rt-plot id="testrt3" x="1498" y="2" width="400" height="300" color="#663399" xgrid="true" ygrid="true" ygraduationsdelta="20" yrangemin="-50" yrangemax="100" value="{{x}}">
			</rt-plot>

			<pie-knob id="testrt3" x="1100" y="30" color="#663399" value="@{{vk}}">
			</pie-knob>

			<num-display id="testnum3" x="1100" y="800" width="200" height="40" accuracy="3" initial="100.333" value="{{vks}}">
			</num-display>

			<halfpie-gauge id="testg13" x="40" y="600" r="75" color="Coral" initial="100" min="-100" max="200" value="{{myDialValue}}">
			</halfpie-gauge>

			<halfpie-gauge id="testg11" x="40" y="720" r="75" color="DodgerBlue" min="0" max="200" value="{{myDialValue}}">
			</halfpie-gauge>

			<num-stepper id="testnums43" x="700" y="800" width="200" height="40" accuracy="3" initial="100.333" value="@{{vks}}">
			</num-stepper>

			<push-button id="testpb43" x="500" y="800" width="40" height="40" value="@{{vksbin}}">
			</push-button>

			<simple-led id="testl2" x="420" y="800" color="green" value="{{vksbin}}">
			</simple-led>

			<function-button id="testfb43" x="300" y="800" width="80" height="40" color="#a4b357,#75890c" callback="cbTest">
			</function-button>

			<switch-button id="testswb1" x="1200" y="400" width="60" height="30" initial="0" value="@{{mysStatus}}"></switch-button>

			<simple-led id="testl3" x="1200" y="460" color="yellow" value="{{mysStatus}}">
			</simple-led>

			<throttle-control id="testtc1" x="1700" y="700" color="green" initial="0" min="-100" max="200" value="@{{myValueBis}}">
			</throttle-control>

			<throttle-control id="testtc2" x="1800" y="700" color="green" initial="0" width="20" min="0" max="200" value="@{{myValueBis}}">
			</throttle-control>
		</div>
	</body>
</html>

views/index.jade
doctype
html(class="no-js", lang="en")
  head
    script(src="bower_components/platform/platform.js")
    link(rel="import", href="bower_components/uruburu/elements/pie-gauge.html")
    link(rel="import", href="bower_components/uruburu/elements/box-gauge.html")
    link(rel="import", href="bower_components/uruburu/elements/box-lever.html")
    link(rel="import", href="bower_components/uruburu/elements/toggle-button.html")
    link(rel="import", href="bower_components/uruburu/elements/simple-led.html")
    link(rel="import", href="bower_components/uruburu/elements/stepper-input.html")
    link(rel="import", href="bower_components/uruburu/elements/angular-gauge.html")
    link(rel="import", href="bower_components/uruburu/elements/pie-dial.html")
    link(rel="import", href="bower_components/uruburu/elements/rt-plot.html")
    link(rel="import", href="bower_components/uruburu/elements/pie-knob.html")
    link(rel="import", href="bower_components/uruburu/elements/num-display.html")
    link(rel="import", href="bower_components/uruburu/elements/halfpie-gauge.html")
    link(rel="import", href="bower_components/uruburu/elements/num-stepper.html")
    link(rel="import", href="bower_components/uruburu/elements/push-button.html")
    link(rel="import", href="bower_components/uruburu/elements/function-button.html")
    link(rel="import", href="bower_components/uruburu/elements/switch-button.html")
    link(rel="import", href="bower_components/uruburu/elements/throttle-control.html")

    title= "uruburu"
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="favicon.png")
    link(rel="stylesheet", href="bower_components/uruburu/css/style.css")
    script(src="js/vendor/modernizr.js")

    script(data-main="js/uruburu-client", 
        src="bower_components/uruburu/js/require.js")

  body(oncontextmenu="return false")
    div(class="board")
        pie-gauge(id="testg1", x="500", y="500", r="100", color="blue", initial="113", min="-50", max="200", 
            value="{{sValue}}")
        pie-gauge(id="testg2", x="300", y="300", r="75", color="green", initial="50", min="0", max="200", 
            value="{{vk}}")
        pie-gauge(id="testg3", x="600", y="300", r="75", color="Chartreuse", initial="100", min="-100", max="200", 
            value="{{myDialValue}}")
        angular-gauge(id="testag3", x="30", y="300", r="75", color="Sienna", initial="100", value="{{x}}")
        box-gauge(id="testg4", x="900", y="300", width="40", height="200", color="orange", initial="100", 
            min="-100", max="200", orientation="vertical",
            value="{{myValue}}")
        box-gauge(id="testg33", x="900", y="600", color="red", initial="22.7", 
            min="-100", max="200", orientation="horizontal", value="{{myValueBis}}")
        box-lever(id="testle4", x="1400", y="300", width="20", height="160", color="orange", initial="0", 
            min="-100", max="200", orientation="vertical",
            value="@{{myValue}}")
        box-lever(id="testle7", x="1400", y="600", color="green", initial="0", 
            min="-100", max="200", orientation="horizontal", value="@{{myValueBis}}")
        stepper-input(id="testsi4", x="40", y="10", initial="10", value="@{{sValue}}")
        toggle-button(id="testb1", x="1200", y="300", width="60", height="30", initial="1", value="@{{myStatus}}")
        simple-led(id="testl1", x="1300", y="300", color="red", value="{{myStatus}}")
        pie-dial(id="testd3", x="600", y="30", r="75", color="#663399", min="-100", max="200", 
            value="@{{myDialValue}}")
        rt-plot(id="testrt3", x="1498", y="2", width="400", height="300", color="#663399", xGrid="true", 
            yGrid="true", yGraduationsDelta="20", yRangeMin="-50", yRangeMax="100", value="{{x}}")
        pie-knob(id="testrt3", x="1100", y="30", color="#663399", value="@{{vk}}")
        num-display(id="testnum3", x="1100", y="800", width="200", height="40", accuracy="3", 
            initial="100.333" value="{{vks}}")
        halfpie-gauge(id="testg13", x="40", y="600", r="75", color="Coral", initial="100", min="-100", max="200", 
            value="{{myDialValue}}")
        halfpie-gauge(id="testg11", x="40", y="720", r="75", color="DodgerBlue", min="0", max="200", 
            value="{{myDialValue}}")
        num-stepper(id="testnums43", x="700", y="800", width="200", height="40", accuracy="3", 
            initial="100.333", value="@{{vks}}")
        push-button(id="testpb43", x="500", y="800", width="40", height="40", value="@{{vksbin}}")
        simple-led(id="testl2", x="420", y="800", color="green", value="{{vksbin}}")
        function-button(id="testfb43", x="300", y="800", width="80", height="40", color="#a4b357,#75890c",
            callback="cbTest")
        switch-button(id="testswb1", x="1200", y="400", width="60", height="30", initial="0", value="@{{mysStatus}}")
        simple-led(id="testl3", x="1200", y="460", color="yellow", value="{{mysStatus}}")
        throttle-control(id="testtc1", x="1700", y="700", color="green", initial="0", 
            min="-100", max="200", value="@{{myValueBis}}")
        throttle-control(id="testtc2", x="1800", y="700", color="green", initial="0", width="20"
            min="0", max="200", value="@{{myValueBis}}")

    div(id="nav")
